html, body {
	height: 100%;
	margin: 0;
	
      overflow: hidden;
}

body {
	background: #F2DCA2;
	font-family: Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
}

canvas {
	background: #6c757d;
	display: block;
	border-radius: 5px;
	
      max-width: 100%;
      max-height: 100%;
}
